<div style="text-align: right">
  <p-button label="Add" id="button-create-appointment" (click)="showDialogToAdd()"></p-button>
</div>

<p-table [value]="(appointmentState | async).appointments">
  <ng-template pTemplate="header">
		<tr>
		  <th *ngFor="let col of columns" [pSortableColumn]="col.description">
        {{ col.title }}
      </th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-appointments>
		<tr [pSelectableRow]="appointments">
			<td>{{ appointments.date }}</td>
			<td>{{ appointments.time }}</td>
			<td>{{ appointments.medService }}</td>
			<td>{{ appointments.doctor }}</td>
      <td>
        <span class="ui-g-5">
          <button label="Add" pButton icon="pi pi-user-plus"></button>
        </span>
        <span class="ui-g-4">
          <button label="Delete" pButton icon="pi pi-trash"></button>
        </span>
      </td>
		</tr>
	</ng-template>
</p-table>
