<p>appointment table component works!</p>
<!--
<p-table [value]="appointments">
  <ng-template pTemplate="header">
		<tr>
     FIXME: How do I connect my getColumns function in appointment.service.ts to this element?
		 <th *ngFor="let col of columns" [pSortableColumn]="col.description">
        {{ col.title }}
      </th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-appointment>
		<tr [pSelectableRow]="staff">
			<td>{{ appointment.date }}</td>
			<td>{{ appointment.time }}</td>
			<td>{{ appointment.medService }}</td>
			<td>{{ appointment.doctor }}</td>
		</tr>
	</ng-template>
</p-table>
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
</p-table> -->
