<div style="text-align: right">
  <p-button label="Add" id="button-create-appointment" (click)="showDialogToAdd()"></p-button>
</div>

<p-table [value]="(appointmentState | async).appointments">
  <ng-template pTemplate="header">
		<tr>
		  <th *ngFor="let col of columns" [pSortableColumn]="col.description">
        {{ col.title }}
      </th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-appointments>
		<tr [pSelectableRow]="appointments">
			<td>{{ appointments.date }}</td>
			<td>{{ appointments.time }}</td>
			<td>{{ appointments.medService }}</td>
			<td>{{ appointments.doctor }}</td>
      <td>
        <span class="ui-g-5">
          <button label="Edit" pButton icon="pi pi-user-plus"></button>
        </span>
        <span class="ui-g-4">
          <button label="Delete" pButton icon="pi pi-trash"></button>
        </span>
      </td>
		</tr>
	</ng-template>
</p-table>

<p-dialog [header]="newAppointmentType ? 'Add appointment Type' : 'Update Appointent Type'" [(visible)]="displayDialog" [width]="500">
	<div class="ui-g ui-fluid" >
    <!-- *ngIf="appointmentType" -->
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="date">Appointment Date</label>
			</div>
			<div class="ui-g-8">
        <!-- FIXME: add inputText field -->
        <input type="date" name="apptDate">
				<!-- <input pInputText id="code" [(ngModel)]="staffType.code" style="width:100%" required/> -->
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="time">Appointment Time</label>
			</div>
      <select
        class="selectpicker show-tick"
        id="timeSelector"
        required>
        <option disabled selected value></option>
        <option value="9:00 AM">9:00 AM</option>
        <option value="9:30 AM">9:30 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="10:30 AM">10:30 AM</option>
        <option value="11:00 AM">11:00 AM</option>
        <option value="11:30 AM">11:30 AM</option>
        <option value="1:00 PM">1:00 PM</option>
        <option value="1:30 PM">1:30 PM</option>
        <option value="2:00 PM">2:00 PM</option>
        <option value="2:30 PM">2:30 PM</option>
        <option value="3:00 PM">3:00 PM</option>
        <option value="3:30 PM">3:30 PM</option>
        <option value="4:00 PM">4:00 PM</option>
        <option value="4:30 PM">4:30 PM</option>
        <option value="5:00 PM">5:00 PM</option>
        <option value="5:30 PM">5:30 PM</option>
      </select>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="medService">Medical Service</label>
			</div>
			<div class="ui-g-8">
				<select class="selectpicker show-tick"
					id="serviceSelector"
					required>
					<option disabled selected value></option>
          <option>Physical Examination</option>
          <option>Flu Shot</option>
          <option>Advice Nurse</option>
          <option>Urgent Care</option>
          <option>Mental Health</option>
				</select>
				<!-- <input pInputText id="role" [(ngModel)]="staffType.role"/> -->
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="doctor">Select Doctor</label>
			</div>
			<div class="ui-g-8">
				<select class="selectpicker show-tick"
					id="doctorSelector"
					required>
					<option disabled selected value></option>
          <option value="1">Dr. Jennica</option>
          <option value="2">Dr. Gary</option>
          <option value="4">Dr. Ruth</option>
				</select>
			</div>
		</div>

		<p-footer>
			<div class="ui-dialog-buttonpane ui-helper-clearfix">
				<!-- <button type="button" class="btn btn-default" [(disabled)]="appointmentDisabled" (click)="activate()">{{ this.appointmentType.active == '' || this.appointmentType.active == 'N' ? 'Activate' : 'Deactivate' }}</button> -->
				<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
				<button type="button" class="btn btn-default" (click)="save()">Save</button>
			</div>
		</p-footer>
	</div>
</p-dialog>
