<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <!--
        <li><a href="https://www.google.com"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            -->

            <!-- FIXME: Change Login button to p button -->
            <!-- FIXME: Add href login page -->

        <li>
            <a href="https://www.google.com">
                <p-button type="button" label="Logout" >
                    <span class="glyphicon glyphicon-log-in"></span>
                </p-button>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <button pButton type="button" label="Click" ></button> -->
