<!--The content below is only a placeholder and can be replaced.-->
<app-top-navbar></app-top-navbar>

<div id="mainView" class="container-fluid">
    <!-- Contains sidenavbar and patient module -->
    <!-- <app-side-navbar></app-side-navbar> -->
    <!-- Appointment Module Selector -->
    <app-appointment></app-appointment>
    <br>
    <div class="text-success" id="fixmeList">
        <h1>FIXME LIST</h1>
        <h3 class="text-info">Notes from Sophie and Jennica</h3>
        <p class="text-info">
          Create Appt Table (3 rows) <br>
          create mock service <br>
          create "add" button to add new row to table <br>
          *popup <br>
          create save button in popup <br>
          (optional: add edit and delete <br>
        </p>
        <p>
          Index (One Module) <br>
          Components <br>
          - appointment <br>
          --- create-appointment (component) <br>
          --- update-appointment (component) <br>
          - edit and delete
        </p>
        <ul>
            <li>Create Index Module
                <ul>
                    <!-- app-top-navbar -->
                    <li>COMP: Top Nav Bar</li>
                    <!-- app-side-navbar -->
                    <li>COMP: Side Nav Bar
                        <ul>
                            <li>ATTACH LINKS TO NAV LINKS BELOW</li>
                            <li>Home</li>
                            <li>Profile</li>
                            <li>Appointments</li>
                            <li>Contact Doctor</li>
                            <li>Settings</li>
                        </ul>
                    </li>
                    <li class="text-danger">HIGH PRIORITY - MODULE: Appointment Table
                      <ul>
                        <li>Appointment table using PrimeNg</li>
                        <li>Service that manages your Appointment data</li>
                        <li>Load sample data onto the table upon application initialization</li>
                        <li>Add button to create new Appointments</li>
                        <li>Bonus: Delete and Edit button to edit the data</li>
                      </ul>
                    </li>
                    <li>MODULE: Main Dashboard</li>
                    <ul>
                        <li>Welcome Patient Bar</li>
                        <li>Left Board</li>
                        <ul>
                            <li>Today's Weather View</li>
                            <li>Current Time View</li>
                            <li>Create Appt</li>
                            <li>My History</li>
                        </ul>
                        <li>Today's Date View</li>
                    </ul>
                    <li>Maybe a Footer??</li>
                </ul>
            </li>
        </ul>
    </div>
</div>



<br><br>

<div
    *ngIf = "things.length > 0; then thingsList else noThings">
</div>
<ng-template #thingsList>
    List of Things
</ng-template>
<ng-template #noThings>
    No things yet
</ng-template>
