<!-- ADD APPOINTMENT MODAL -->
<p-dialog [header]="newAppointmentType ? 'Add appointment Type' : 'Update Appointent Type'" [(visible)]="displayDialog" [width]="500">
	<div class="ui-g ui-fluid" *ngIf="appointmentType">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="date">Appointment Date</label>
			</div>
			<div class="ui-g-8">
        <!-- FIXME: add inputText field -->
        <input
        pInputText
        id="date"
        [(ngModel)]="appointmentType.date"
        type="date"
        name="apptDate">
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="time">Appointment Time</label>
			</div>
      <select
        class="selectpicker show-tick"
        id="timeSelector"
        [(ngModel)]="appointmentType.time"
        required>
        <option disabled selected value></option>
        <option value="9:00 AM">9:00 AM</option>
        <option value="9:30 AM">9:30 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="10:30 AM">10:30 AM</option>
        <option value="11:00 AM">11:00 AM</option>
        <option value="11:30 AM">11:30 AM</option>
        <option value="1:00 PM">1:00 PM</option>
        <option value="1:30 PM">1:30 PM</option>
        <option value="2:00 PM">2:00 PM</option>
        <option value="2:30 PM">2:30 PM</option>
        <option value="3:00 PM">3:00 PM</option>
        <option value="3:30 PM">3:30 PM</option>
        <option value="4:00 PM">4:00 PM</option>
        <option value="4:30 PM">4:30 PM</option>
        <option value="5:00 PM">5:00 PM</option>
        <option value="5:30 PM">5:30 PM</option>
      </select>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="medService">Medical Service</label>
			</div>
			<div class="ui-g-8">
				<select
          class="selectpicker show-tick"
					id="serviceSelector"
          [(ngModel)]="appointmentType.medService"
					required>
					<option disabled selected value></option>
          <option>Physical Examination</option>
          <option>Flu Shot</option>
          <option>Advice Nurse</option>
          <option>Urgent Care</option>
          <option>Mental Health</option>
				</select>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="doctor">Select Doctor</label>
			</div>
			<div class="ui-g-8">
				<select class="selectpicker show-tick"
					id="doctorSelector"
          [(ngModel)]="appointmentType.doctor"
					required>
					<option disabled selected value></option>
          <option>Dr. Smith</option>
          <option>Dr. James</option>
          <option>Dr. King</option>
				</select>
			</div>
		</div>

		<p-footer>
			<div class="ui-dialog-buttonpane ui-helper-clearfix">
				<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
				<button type="button" class="btn btn-default" (click)="save()">Save</button>
			</div>
		</p-footer>
	</div>
</p-dialog>
